@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.page-container {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.custom-container1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
}
.custom-container2 {
  display: flex;
  align-items: flex-start;
}
