@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.page-container {
  padding: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.page-container table {
  width: 100%;
  border-collapse: collapse;
}
.page-container th {
  background-color: #f5f7fa;
}
.custom-container1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
}
.custom-container2 {
  display: flex;
  align-items: flex-start;
}
.node-container {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.handle-style {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #1a73e8;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 10;
}
